th {
    background-color: #FDFD96;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
}
tr.new-animal td {
    border-top: 2px solid grey;
}
td {
    border: 1px solid grey;
}
body {
    font-family: sans-serif;
}
