<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <title>Telegram animal channels</title>
        <link rel="stylesheet" href="style.css" />
    </head>
<body>
<h1>Telegram animal channels</h1>
<p>This site is just a list of telegram channels for pictures, gifs, and videos of animals</p>
<form id="channel_table">
    Platforms:<br/>
    <label><input type="checkbox" name="view_platform" value="telegram" checked/>Telegram</label><br />
    <label><input type="checkbox" name="view_platform" value="twitter" />Twitter</label>
<table id="telegram_channels">
    <thead>
        <tr>
            <th>Link</th>
            <th data-sort-column="animal">Animal</th>
            <th data-sort-column="owner">Owner</th>
            <th data-sort-column="num_pics"># pics</th>
            <th data-sort-column="num_gifs"># gifs</th>
            <th data-sort-column="num_vids"># vids</th>
            <th data-sort-column="num_subs"><abbr title="Subscribers"># subs</abbr></th>
            <th data-sort-column="latest_post">Latest post</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    {% set ns = namespace(last_animal=none) %}
    {% for channel in channels %}
        {% if ns.last_animal is not none and ns.last_animal != channel.animal %}
            <tr class="new-animal">
        {% else %}
            <tr>
        {% endif %}
        {% set ns.last_animal = channel.animal %}
            <td><a href="https://t.me/{{ channel.handle }}">{{ channel.handle }}</a></td>
            <td>{{ channel.animal }}</td>
            <td>{{ channel.owner }}</td>
            {% set cache = channel.get_cache(datastore) %}
            {% if cache %}
                <td style="{{ count_scale.style_for_value(cache.pic_count) }}">{{ cache.pic_count }}</td>
                <td style="{{ count_scale.style_for_value(cache.gif_count) }}">{{ cache.gif_count }}</td>
                <td style="{{ count_scale.style_for_value(cache.video_count) }}">{{ cache.video_count }}</td>
                <td style="{{ count_scale.style_for_value(cache.subscribers) }}">{{ cache.subscribers }}</td>
                {% if cache.latest_post %}
                    <td style="{{ date_scale.style_for_value(cache.latest_post) }}">{{ cache.latest_post.strftime('%Y-%m-%d') }}</td>
                {% else %}}
                    <td>-</td>
                {% endif %}
            {% else %}
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>?</td>
            {% endif %}
            <td>{{ channel.notes }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</form>
<p>And the table of telegram bots is below</p>
<table>
    <thead>
        <tr>
            <th>Link</th>
            <th>Animal</th>
            <th>Owner</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    {% for bot in bots %}
        <tr>
            <td><a href="https://t.me/{{ bot.handle }}">@{{ bot.handle }}</a></td>
            <td>{{ bot.animal }}</td>
            <td>{{ bot.owner }}</td>
            <td>{{ bot.notes }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>
    If you would like to request any changes, please file an issue on the
    <a href="https://github.com/Deer-Spangle/telegram-animals/">github repository</a>.
    (Pull requests are also welcome!)
</p>
<! -- Some basic, privacy-focused analytics -->
<script src="https://getinsights.io/js/insights.js"></script>
<script>
    insights.init("lrFaPwGuDpIqLUXt");
    insights.trackPages();
</script>
<script src="data.js"></script>
<script src="table_handling.js"></script>
</body>
</html>
